.slideshow-container {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}
.slideshow-elemets{
   

}
.slideshow-element
{
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
      transition: transform 0.5s ease-in-out;
}
 
 
 

.slideshow-element i,
 h2 
{
    font-size: 10rem;
    align-items: center;
    color: coral;


}
.slideshow-element.current
{
  
    transform: translate(-50%, -50%) scale(1);   
}